body{
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: #2D2D2D;
}
header{
  position: relative;
  height:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: darkgrey;
  background-image: url('https://www.tehoteardo.com/static/images/textures/texture-paper-1920.jpeg');
  text-align: center;
  font-size: .7em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
h2 {
  margin: 1px;
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.icon {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  align-self: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.item {
  flex-basis: 130px;
  padding: 0 10px 35px 30px;
}
.details-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.details-icon {
  height: 85px;
  width: 85px;
  align-self: center;
}
.description {
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}
.nav-item {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}
.nav-link {
  flex-grow: 1;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
}
.nav-title {
  flex-grow: 2;
}
.details-title {
  font-weight: 300
}
