<div>
  <header>
    <h2>{{header}}</h2>
  </header>
  <div class="container">
    <a class="item"
      ng-repeat="program in data.programs| orderBy:program.display_order"
      ui-sref="details({ programParam: program })"
      >
      <div class="info">
        <img class="icon" ng-src="{{ program.icon_url }}">
        <div class="title">{{ program.title }}</div>
      </div>
    </a>
  </div>
</div>
