<div>
  <header>
    <div class="nav-item">
      <h2 class="nav-flex nav-link" ui-sref="dashboard({})"><</h2>
      <h2 class="nav-flex nav-title">{{header}}</h2>
      <h2 class="nav-flex nav-link"></h2>
    </div>
  </header>
  <div>
    <img class="icon details-item" ng-src="{{ program.icon_url }}">
    <div class="details-item">
    <h2 class="details-title">
      {{ program.title }}
    </h2>
    <h2>
      {{ program.possible_earnings_description }}
    </h2>
    </div>
    <p class="details-item description">
      {{ program.description }}
    </p>
    <p class="details-item description">
      {{ program.incentive_description }}
    </p>
    <div class="goals">
      <div class="details-item" ng-if="goals.length >= 1">
        <h2>Goals</h2>
      </div>
      <div class="goal" ng-repeat="goal in goals track by $index">
        <div>
          <p class="details-item">{{ goal.title }} : ${{goal.incentive_value}}</p>
        </div>
      </div>
      <div class="details-item" ng-if="goals.length >= 1">
        <h3 class="details-item">Total Incentive Value: ${{ total }}</h3>
      </div>
    </div>
  </div>
</div>
